.kaufman {
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 90px 0 90px 0;
  box-sizing:border-box;
  overflow: hidden;
  background-color: #1f1f1f;
}
