.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.content {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 183px;
}

.logo_place_header {
  z-index: 2;
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  margin: auto auto auto 64px;
  width: 730px;
  align-self: baseline;
  flex-wrap: wrap;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color:  #000000;
  text-align: left;
}

.header__subtitle {
  z-index: 2;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  flex-wrap: wrap;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color:  #000000;
  text-align: left;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  text-align: left;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

.main-illustration_width {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  }

.header__square-pic {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  position: relative;
  margin: 0;
  padding: 100px 0 0 0;
  box-sizing: border-box;
  background-color: white;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}

.two-columns__paragrapg:first-of-type {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
}

.two-columns__paragrapg:last-of-type {
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.digits {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 100px 0 100px 0;
  box-sizing:border-box;
  background-color: white;
}

.section-title {
  margin: auto auto 20px auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  z-index: 1;
}

.table__cell_theme_light {
  width: 250px;
  margin: 60px auto auto auto;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
  text-align: left;
}

.section-title_theme_light,
.section-subtitle_theme_light,
.table__heading_theme_light,
.table__text_theme_light {
  color: #000000;
}

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 790px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  align-self: center;
  flex-wrap: wrap;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  align-self: center;
  z-index: 1;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
  text-align: center;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 90px 0 90px 0;
  box-sizing:border-box;
  overflow: hidden;
  background-color: #000000;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.triangle_width {
  width: 100%;
  position: absolute;
  top: 0;
  right: -210;
  }

.section-title_theme_dark, .section-subtitle_theme_dark, .table_theme_dar {
  z-index: 1;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
}

.table__heading_theme_dark, .table__text_theme_dark {
  color: white;
}

.footer {
  margin: 0;
  padding: 60px 0 40px 0;
  box-sizing:border-box;
  min-height: 350px;
  display: flex;
  position: relative;
  background-color: #000000;
}

.footer__columns {
  display: flex;
  width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyrigth {
  flex-basis: 711px;
  display: flex;
  position: relative;
}

.logo_place_footer {
  height: 35px;
  margin-right: auto;
}

.footer_author {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: left;
}

.footer__column_content_info {
  flex-direction: column;
}

.footer_column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.footer_column-links {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: left;
  list-style: none;
}

.footer__column_content_social {
  flex-direction: column;
}

.footer_social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer_social-link {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

.footer_column-links:last-of-type {
  margin-bottom: 16px;
}

.footer_social-link:last-of-type {
  margin-bottom: 16px;
}

a:hover {
  color: #2f80ed;
}
